<!-- wp:template-part {"slug":"nav"} /-->

<!-- wp:group {"tagName":"section","className":"index-hero-section","layout":{"type":"constrained"}} -->
<section class="wp-block-group index-hero-section">
  <!-- wp:heading {"level":1,"className":"index-hero-heading"} -->
  <h1 class="wp-block-heading index-hero-heading">Space Center News Letter</h1>
  <!-- /wp:heading -->

  <!-- wp:image {"className":"index-hero-banner"} -->
  <figure class="wp-block-image index-hero-banner">
    <img src="https://picsum.photos/3000/500" alt="Space Center Hero" />
  </figure>
  <!-- /wp:image -->
</section>
<!-- /wp:group -->
